[project]
	description = Creating bomberman with javafx
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexpechonov (Alexpechonov)
[access "refs/for/refs/*"]
	read = group user/Alexpechonov (Alexpechonov)
	push = group user/Alexpechonov (Alexpechonov)
	label-Code-Review = -2..+2 group user/Alexpechonov (Alexpechonov)
	label-Verified = -1..+1 group user/Alexpechonov (Alexpechonov)
	rebase = group user/Alexpechonov (Alexpechonov)
	removeReviewer = group user/Alexpechonov (Alexpechonov)
	submit = group user/Alexpechonov (Alexpechonov)
[access "refs/heads/*"]
	read = group user/Alexpechonov (Alexpechonov)
	create = group user/Alexpechonov (Alexpechonov)
	push = +force group user/Alexpechonov (Alexpechonov)
	pushMerge = group user/Alexpechonov (Alexpechonov)
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/Alexpechonov (Alexpechonov)
	createTag = group user/Alexpechonov (Alexpechonov)
	createSignedTag = group user/Alexpechonov (Alexpechonov)
